:root {
    --menu-width-desktop: 240px;
    --menu-width-tablet: 90px;
    --menu-width-smartphone: 230px;
    /*-- == Night/Light Mode Colors -start- == --*/
    --color-night:#1A1C1E;
    --color-night-body:#242627;
    --color-light:#fff;
    --color-light-body:#F3F5F7;
    /*-- == Night/Light Mode Colors -end- == --*/
    --grey-color: #7f8c8d;
    /*-- Side Bar Colors -start- --*/
    --primary-color: #4EC0E9;
    --info-color: #ED5464;
    --success-color: #4ACFAE;
    --warning-color: #FFCE52;
    --danger-color: #5F9CEC;
    --sunset-color:#D88A5D;
    /*-- Side Bar Colors -end- --*/

    --bg-color: #34495e;
    --default-size: 1em;
    --label-font-size: calc(var(--default-size) / 4);
    --label-font-size-redo: calc(var(--default-size) * 4);
}
*::selection{
    color: var(--color-light);
    background: var(--sunset-color);
}



body {
    background: var(--color-night-body);
    margin: 0;
    font-family: 'Changa', sans-serif;
    color: var(--color-light);
    padding-left: var(--menu-width-desktop);
    min-height: 100vh;
}
body.night-mode {
    background-color: var(--color-light-body);
    color: var(--color-night-body);
}

/*-- Make it Responsive -start- --*/

@media screen and (max-height: 850px){
    .menu{
        overflow: scroll;
    }
    .legal {
        position: relative !important;
    }



}
/*
@media screen and (max-width: 1700px) and (max-height: 850px){
    .menu{
        overflow: scroll;
    }
    .legal {
        position: relative !important;
    }


}*/
@media screen and (max-width: 900px) and (min-width: 400px)  {
    body {
        padding-left: var(--menu-width-tablet);
    }

    .menu {
        width: var(--menu-width-tablet);
    }

    .menu .avatar {
        padding: 0.5em;
        position: relative;
    }

    .menu .avatar img {
        width: calc(var(--menu-width-tablet) - 30px);
    }

    .menu .avatar h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: calc(var(--menu-width-tablet) + 10px);
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }

    .menu .avatar:hover h2 {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }

    .menu ul li {
        height: calc(var(--menu-width-tablet) / 1.5);
        background-position: center center;
        background-size: 30px auto;
        position: relative;
    }

    .menu ul li span {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2em 0.5em;
        border-radius: 4px;
        top: 50%;
        left: calc(var(--menu-width-tablet) - 10px);
        transform: translate3d(-15px, -50%, 0);
        transition: all 0.15s ease-in-out;
    }

    .menu ul li span:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.5);
        transform: translateY(-50%);
    }

    .menu ul li:hover span {
        opacity: 1;
        transform: translate3d(0px, -50%, 0);
    }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }

    .menu {
        width: var(--menu-width-smartphone);
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(var(--menu-width-smartphone), 0, 0);
        transition: all 0.3s ease-in-out;
    }

    .menu .smartphone-menu-trigger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 100%;
        background: var(--color-night);
    }

    .menu .smartphone-menu-trigger:before,
    .menu .smartphone-menu-trigger:after {
        content: '';
        width: 50%;
        height: 2px;
        background: #fff;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .menu .smartphone-menu-trigger:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
    }

    .menu ul li {
        padding: 1em 1em 1em 3em;
        font-size: 1.2em;
    }
}
/*-- Make it Responsive -end- --*/

.admin{
    color: var(--sunset-color);
}
.cadre{
    color: var(--danger-color);
}
.consultant{
    color: var(--success-color);
}
main {
    position: relative;
    max-height: 100vh;
}

.helper {
    background: rgba(0, 0, 0, 0.2);
    color: var(--color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.2em 2em;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
}

.helper span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.4em;
    display: block;
}

.menu {
    background: var(--color-night);
    height: 100vh;
    width: var(--menu-width-desktop);
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
    position: fixed;
}

.menu .avatar {
    background: var(--color-night);
    border-bottom: 2px solid var(--color-light);
    padding: 2em 0.5em;
    text-align: center;
}

.menu .avatar img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--color-night);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.menu .avatar h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.menu ul {
    line-height: 3;
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}

.menu ul li {
    padding: 0.5em 1em 0.5em 3em;
    font-size: 0.95em;
    font-weight: 100;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
}
.avatar .info-container .user-helper-dropdown i{
    margin-top: 10px;
}

.avatar .user-info .info-container{
    line-height: 1.8;
    margin-top: 15px;
}
.activities li a{
    text-decoration: none;
    color: var(--color-light);
}
.activities li a i{
    margin-right: 8px;
}
.activities .header{
    font-weight: bold;
    cursor: initial;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.menu .activities li a span{
    font-weight: 400;
}

/*-- Ul Color Effect -start- --*/
.menu-hover-fill li:not(.header) {
    position: relative;
}

.menu-hover-fill li:not(.header)::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0.25rem;
    height: 100%;
    background: var(--menu-link-active-color);
    transition: 0.6s;
}

.menu-hover-fill li:not(.header) a {
    --menu-link-color: var(--color-light);
    color: var(--menu-link-color);
    position: relative;
    background: linear-gradient(var(--menu-link-active-color) 0 100%) left / 0 no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    transition: color 0.6s,background-size 0.45s 0.04s;
}

.menu-hover-fill li:not(.header) a::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: var(--menu-link-color);
}

.menu-hover-fill li:nth-child(2) {
    --menu-link-active-color: var(--primary-color);
}

.menu-hover-fill li:nth-child(3) {
    --menu-link-active-color: var(--info-color);
}

.menu-hover-fill li:nth-child(5) {
    --menu-link-active-color: var(--success-color);
}

.menu-hover-fill li:nth-child(6) {
    --menu-link-active-color: var(--warning-color);
}

.menu-hover-fill li:nth-child(7) {
    --menu-link-active-color: var(--danger-color);
}

.menu-hover-fill li:nth-child(8) {
    --menu-link-active-color: var(--sunset-color);
}

.menu-hover-fill li:not(.header):hover::before {
    left: calc(100% - .3rem);
}

.menu-hover-fill li:not(.header):hover a {
    color: var(--menu-link-active-color);
    background-size: 100%;
}

/*-- Ul Color Effect -end- --*/

/*-- side Bar Footer -start- --*/
.legal{
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
/*-- side Bar Footer -end- --*/

/*-- Nav Bar Top -start- --*/
.navbar{
    background-color: var(--color-night);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navbar .header{
    font-size: 20px;
    color: var(--color-light);
}
.navbar .icon{
    font-size: 30px;
    color: var(--color-light);
}
.navbar a{
    text-decoration: none;
}
.navbar .effectpage{
    width: 20px;
}
.navbar .effects{
    display: none;
    color: black;
    background: var(--color-light);
    position: absolute;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    left: 18px;
}
.navbar .effectpage:hover .effects{
    display: flex;
    justify-content: center;
}
/*-- Nav Bar Top -end- --*/
/*-- Night/Light mode -start- */

.switch{
    position: relative;
    width: 130px;
    height: 50px;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("../images/night.png");
    background-size: cover;

    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: inset 0 0 2px rgba(255,255,255,.7);
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.switch:checked{
    background-image: url("../images/day.png");
    background-size: cover;
    transition: background-image 1s ease-in-out;
}


.switch:after{
    content: '';
    width: 46px;
    height:46px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off{
    0%{
        transform: translateX(80px);
        width: 46px;
    }
    50%{
        width: 75px;
        border-radius: 25px;
    }
    100%{
        transform: translateX(0px);
        width: 46px;
    }
}



.switch:checked:after{
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on{
    0%{
        transform: translateX(0px);
        width: 46px;
    }
    50%{
        width: 75px;
        border-radius: 25px;
    }
    100%{
        transform: translateX(80px);
        width: 46px;
    }
}


.switch:checked:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0 #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
}
@keyframes sun{
    0%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0 #fff;
        filter: blur(0px);
    }
    50%{
        background-color: transparent;
        box-shadow: 5px -1px 0 #fff;
        filter: blur(0px);
    }
    90%{
        background-color: #f5daaa;
        box-shadow: 0 0 10px #f5deb4,
        0 0 20px #f5deb4,
        0 0 30px #f5deb4,
        inset 0 0 2px #efd3a3;
        filter: blur(1px);
    }
    100%{
        transform: rotate(0deg);
        background-color: #f5daaa;
        box-shadow: 0 0 10px #f5deb4,
        0 0 20px #f5deb4,
        0 0 30px #f5deb4,
        inset 0 0 2px #efd3a3;
        filter: blur(1px);
    }
}



.switch:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0 0 10px #f5deb4,
    0 0 20px #f5deb4,
    0 0 30px #f5deb4,
    inset 0 0 2px #efd3a3;
    transform-origin: 53px 10px;
    animation: moon .7s forwards ease;
}
@keyframes moon{
    0%{
        transform: rotate(0deg);
        filter: blur(1px);
    }
    50%{
        filter: blur(1px);
    }
    90%{
        background-color: transparent;
        box-shadow: 5px -1px 0 #fff;
        filter: blur(0px);

    }
    100%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0 #fff;
        filter: blur(0px);
    }
}
/*-- Night/Light Mode -end- */

/*-- Content Section -start- --*/
.content{
    margin: 5px 0 0;
}
/*-- Content Section -end- --*/

/*-- Side Dropdown Menu -start- --*/
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdown-btn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: var(--color-night-body);
    min-width: 225px;
    box-shadow: 0 0 12px 0 rgba(255,255,255,0.2);
    z-index: 1;
    right: 0;
}
.dropdown-content a {
    transition: all 0.4s ease-in-out;
    color: var(--color-light-body);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    border-radius: 6px;
    color: var(--sunset-color) ;
    background-color: var(--color-light-body);
}
.dropdown-content .dropdown-elmt{
    padding: 0;
}
.dropdown-elmt a{
    text-align: left;
}
.dropdown-elmt a i{
    margin-right: 20px;
}
.dropdown-elmt .signout{
    text-align: center;
}
.dropdown-elmt span{
    font-weight: 500;
}

.rotate {
    transform: rotate(-180deg);
}
/*-- Side Dropdown Menu -end- --*/
/*-- Notification Menu -start- --*/
.notification{
    color:white;
    position: absolute;
    top: 40px;
    font-size: 28px;
    right: 78px;
}
/*-- Notification Menu -end- --*/

/*-- Data Tables Night Mode Modifications -start- --*/
#dataTable{
    border-radius: 20px;
    background: var(--color-light);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}
#dataTable.night-mode{
    background-color : var(--color-night);
    color: var(--color-light);
    box-shadow: 0 0 12px 0 rgba(255,255,255,0.2);
    border-radius: 20px;
}

.dataTablestyle {
    background: var(--color-light);
    border-radius: 20px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
}


.dataTablestyleBody{
    text-align: center;
}


.dataTablestyleHead{
    text-align: center !important;
}

#dataTable_paginate .current,
.dt-buttons .dt-button {
    background-color: var(--sunset-color) !important;

    color: var(--color-light) !important;

    border-radius: 10px;

}
/*
.dt-buttons{
    margin-bottom: 15px;
}
*/
#dataTable_paginate .current:hover,
.dt-buttons .dt-button:hover {
    background-color: var(--color-light) !important;

    color: var(--sunset-color) !important;

    border-radius: 10px;

}

tbody tr td{
    border-style: none;
}

.linksBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksBtn .middle{
    margin: 0 12px;
}

.linksBtn form{
    margin: 0;
}

/*--------------------------------------------------------------------------------------*/
#dataTable_filter {
    position: relative;
    margin-bottom: 15px;
}



#dataTable_filter>label {
    display: flex;
    align-items: center;
    height: 37px;
}


#dataTable_filter input[type="search"] {
    font-family: 'Inconsolata', monospace;
    width: 50px;
    height: 40px;
    outline: none;
    border: none;
    background: var(--sunset-color);
    color: white;
    text-shadow: 0 0 10px var(--sunset-color);
    padding: 0 15px;
    /*padding: 0 80px 0 20px;*/
    border-radius: 30px;
    /*box-shadow: 0 0 25px 0 var(--sunset-color), 0 20px 25px 0 rgba(0, 0, 0, 0.2);*/
    transition: all 1s;
    /*opacity: 0;*/
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

#dataTable_filter input[type="search"]:hover {
    cursor: pointer;
}

#dataTable_filter input[type="search"]:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

#dataTable_filter input[type="search"]:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}

#dataTable_filter input[type="search"]:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

#dataTable_filter input[type="search"]:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

#dataTable_filter input[type="search"]::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}
/*--------------------------------------------------------------------------------------*/




/*-- Data Tables Night Mode Modifications -end- --*/
#morocco svg{
    height: 430px;
}

.concurrentAnalytics{
    display: flex;
    justify-content: center;
    align-items: center;
}
.concurrentAnalytics .concurrent{
    padding: 0 0 25px;
    background: var(--color-night);
    color: var(--color-light);
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0 0 12px 0 rgba(255,255,255,0.2);
}

.concurrentAnalytics .concurrent .regionName{
    margin-left: 20px;
}
.concurrentAnalytics .concurrent .progressChart{
    margin-right: 20px;
}


/*========================================================================================*/

#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
}
#svg #bar {
    stroke: #FF9F1E;
}
#cont {
    display: block;
    height: 90px;
    width: 90px;
    margin: 2em auto;
    border-radius: 100%;
    position: relative;
}

#cont:after {
     position: absolute;
     display: block;
     left: 60%;
     bottom: -42px; /* Adjust the value as needed */
     transform: translateX(-50%);
     content: attr(data-pct)"%";
     border-radius: 100%;
     line-height: 40px; /* Adjust the value as needed */
     font-size: 20px;
     text-shadow: 0 0 0.5em black;
 }

input {
    color: #000;
}


/* Make things perty */
input { border: 1px solid #666; background: #333; color: #fff; padding: 0.5em; box-shadow: none; outline: none !important; margin: 1em  auto; text-align: center;}
/*========================================================================================*/
